<!--include header-->
<%-include('include/_header')%>
<!--/include header-->

  <!-- Main site -->
  <main id="side-name">
    <div class="container">
     <div class="box-nav d-flex justify-between">
        <div class="filter">
            <a href="/"><i class="fas fa-angle-double-left"></i>All Users</a>
        </div>
     </div> 
     <div class="form-little text-center">
        <h2 class="text-dark">New User</h2>
        <span class="text-light">Use the below form to create a new account</span>
     </div> 
    </div>
    <%-include('include/_form')%>
    <!-- form handling -->
   
</main>

<!-- Main site -->

<!--include header-->
<%-include('include/_footer')%>
<!--/include header-->