<p>add-customers works!</p>

<form #addCustomerForm="ngForm"(submit)="addCustomer(addCustomerForm)">
    <br>
<input type="text" [(ngModel)]="firstName" name="firstName" required minlength="10">
<br>
<input type="checkbox" [(ngModel)]="terms" name="terms" required>Accept terms & coddition
<br>
<select [(ngModel)]="CustomerTypes" name="CustomerTypes" required>
<option value="1">premium</option>
<option value="2">standard</option>
</select>
<br>
<textarea [(ngModel)]="description" name="description" required></textarea><br>
<button type="submit" [disabled]="!addCustomerForm.valid">Add Customer</button>
<button class="btn btn-link" (click)="resetform(addCustomerForm)">Reset Form</button>
<button class="btn btn-link" (click)="loadValues(addCustomerForm)">Set Form value</button>
</form>

<div> {{ firstName }} </div>